* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 4vw;
    word-break: break-word;
}

@media (prefers-color-scheme: dark) {
    body {
        font-size: 4vw;
        word-break: break-word;
        color: #DADADA;
    }
}

a {
    text-decoration: none;
    color: black;
}

@media (prefers-color-scheme: dark) {
    a {
        text-decoration: none;
        color: #DADADA;
    }
}